{% extends 'base.html.twig' %}

{% block title %}Редактирование издательства{% endblock %}

{% block body %}
    <h1>Редактирование издательства</h1>

    {{ include('issue/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_issue_index') }}">back to list</a>

    {{ include('issue/_delete_form.html.twig') }}
{% endblock %}
