{% extends 'base.html.twig' %}

{% block title %}Новое Издательство{% endblock %}

{% block body %}
    <h1>Новое Издательство</h1>

    {{ include('issue/_form.html.twig') }}

    <a href="{{ path('app_issue_index') }}">back to list</a>
{% endblock %}
